<!DOCTYPE html>
<html lang="en">
<!doctype html>
<html lang="en">

<head>
    <title>OUTSTOCK</title>
  <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/dzvvpbnai/image/upload/v1704860410/Screenshot_2024-01-10_094916_ny2sxf.jpg">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/payment.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style2.css">
</head>

<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-dark">
                </button>
            </div>
            <div class="img bg-wrap text-center">
                <span id="mainLogo" class="text-light">outstock</span>
                <div class="user-logo">
                    <div class="img" style="background-image: url(/img/person.png);"></div>
                    <div class="bg-dark">
                        <h3>{{admin.userName}}</h3>
                    </div>
                </div>
            </div>
            <ul class="list-unstyled components mb-5">
                <li>
                    <a href="/admin"><span class="fa fa-home mr-3"></span> Dashboard</a>
                </li>
                <li>
                    <a href="/admin/users"><span class="fa-solid fa-users mr-3"></span> Customers</a>
                </li>
                <li>
                    <a href="/admin/categories"><span class="fa fa-gift mr-3"></span> Categories</a>
                </li>
                <li>
                    <a href="/admin/brands"><span class="fa fa-trophy mr-3"></span>Brands</a>
                </li>
                <li>
                    <a href="/admin/report"><span class="fa fa-cog mr-3"></span> Report</a>
                </li>
                <li>
                    <a href="/admin/products"><span class="fa-solid fa-gem mr-3" style="color: #ffffff;"></span> Products</a>
                </li>
                <li>
                    <a href="/admin/orders"><span class="fa fa-support mr-3"></span> Orders</a>
                </li>
                <li>
                    <a href="/admin/messages"><span class="fa fa-support mr-3"></span> Messages</a>
                </li>
                <li>
                    <a href="/admin/banners"><span class="fa fa-support mr-3"></span> Banners</a>
                </li>
                <li class="active">
                    <a href="/admin/coupons"><span class="fa fa-support mr-3"></span> Coupons</a>
                </li>
                <li>
                    <a data-bs-toggle="modal" data-bs-target="#staticBackdrop"><span class="fa fa-sign-out mr-3"></span>
                        Sign
                        Out</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a href="#" class="navbar-brand"><img class="img-fluid" src="/img/logo.jpg" width="200px"
                            alt="logo"></a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav ms-auto">
                            <a data-bs-toggle="modal" href="#exampleModalToggle" role="button"><img
                                    src="/img/person1.png" alt="admin" width="40px"></a>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="container" id="totalBody">
                <div class="form mt-5">

                    <div class="fields fields--2">
                        <label class="field">
                            <span class="field__label" for="firstname">COUPON CODE</span>
                            <input class="field__input" type="text" id="firstname" value="{{coupon.couponCode}}"
                                readonly />
                        </label>
                        <label class="field">
                            <span class="field__label" for="lastname">COUPON VALUE</span>
                            <input class="field__input text-dark" type="text" id="lastname"
                                value="{{coupon.couponProfit}}" readonly />
                        </label>
                    </div>
                    <div class="fields fields--2">
                        <label class="field">
                            <span class="field__label" for="address">COUPON TYPE</span>
                            <input class="field__input text-dark" type="text" id="lastname"
                                value="{{coupon.couponType}}" readonly />
                        </label>
                        <label class="field">
                            <span class="field__label" for="address">MAXIMUM DISCOUND</span>
                            <input class="field__input text-dark" type="text" id="lastname" value="{{coupon.maxDis}}"
                                readonly />
                        </label>
                    </div>
                    <div class="fields fields--2">
                        <label class="field">
                            <span class="field__label" for="address">COUPON START DATE</span>
                            <input class="field__input text-dark" type="text" id="startDate"
                                readonly />
                        </label>
                        <label class="field">
                            <span class="field__label" for="address">COUPON END DATE</span>
                            <input class="field__input text-dark" type="text" id="endDate"
                                readonly />
                        </label>
                    </div>
                </div>
                <a class="btn btn-dark text-white mt-3" href="/admin/coupons">BACK</a>
                <a class="btn btn-dark text-white mt-3" onclick="editButton()">EDIT COUPON</a>
                <form class="mt-3" id="editForm" name="editForm" style="display: none;">
                    <div class="fields fields--2">
                        <label class="field">
                            <span class="field__label" for="updateCouponCode">COUPON CODE</span>
                            <input class="field__input" type="text" id="updateCouponCode" name="updateCouponCode" value="{{coupon.couponCode}}"/>
                            <p id="codeAknowledgment"></p>
                        </label>
                        <label class="field">
                            <span class="field__label" for="updateCouponProfit">COUPON VALUE</span>
                            <input class="field__input text-dark" type="text" id="updateCouponProfit" name="updateCouponProfit" value="{{coupon.couponProfit}}"/>
                            <p id="couponProfitAknowledgment"></p>
                        </label>
                    </div>
                    <div class="fields fields--2">
                        <label class="field">
                            <span class="field__label" for="updateCouponType">COUPON TYPE</span>
                            <input class="field__input text-dark" type="text" id="updateCouponType" name="updateCouponType" value="{{coupon.couponType}}"/>
                            <p id="typeAknowledgment"></p>
                        </label>
                        <label class="field">
                            <span class="field__label" for="updateMaxDis">MAXIMUM DISCOUND</span>
                            <input class="field__input text-dark" type="text" id="updateMaxDis" name="updateMaxDis" value="{{coupon.maxDis}}"/>
                            <p id="maxDisAknowledgment"></p>
                        </label>
                    </div>
                    <div class="fields fields--2">
                        <label class="field">
                            <span class="field__label" for="updateStartDate">COUPON START DATE</span>
                            <div class="field__input text-dark">{{coupon.startDate}}</div>
                            <input class="mt-2" type="date" name="updateStartDate" id="updateStartDate">
                            <p id="startAknowledgment"></p>
                        </label>
                        <label class="field">
                            <span class="field__label" for="address">COUPON END DATE</span>
                            <div class="field__input text-dark">{{coupon.endDate}}</div>
                            <input class="mt-2" type="date" name="updateEndDate" id="updateEndDate">
                            <input type="hidden" name="id" id="id" value="{{coupon._id}}">
                            <p id="endAknowledgment"></p>
                        </label>
                    </div>
                    <button type="button" class="btn btn-dark" onclick="return (couponEditValidation()&&submitUpdatedCoupon())"> UPDATE </button>
                </form>
            </div>
        </div>
    </div>
    </div>

    {{!-- modal --}}

    <div class="modal fade" id="addCouponModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">COUPON</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form name="couponForm" onsubmit="return validateCouponForm()" method="POST">
                        <div class="mb-3 mt-3">
                            <label for="couponCode">Coupon code</label>
                            <input type="text" class="form-control" style="background-color: rgb(226, 226, 226);"
                                id="couponCode" name="couponCode">
                            <p class="text-danger" id="codeAknowledgment"></p>
                        </div>
                        <div class=" mb-3">
                            <label for="couponType">Coupon type</label>
                            <select class="form-control" style="background-color: rgb(226, 226, 226);" id="couponType"
                                name="couponType">
                                <option value="₹">₹</option>
                                <option value="%">%</option>
                            </select>
                            <p class="text-danger" id="typeAknowledgment"></p>
                        </div>
                        <div class="mb-3">
                            <label for="couponProfit">Coupon Value</label>
                            <input type="text" class="form-control" style="background-color: rgb(226, 226, 226);"
                                id="couponProfit" name="couponProfit">
                            <p class="text-danger" id="couponProfitDisAknowledgment"></p>
                        </div>
                        <div class="mb-3">
                            <label for="maxDis">Maximun discound</label>
                            <input type="text" class="form-control" style="background-color: rgb(226, 226, 226);"
                                id="maxDis" name="maxDis">
                            <p class="text-danger" id="maxDisAknowledgment"></p>
                        </div>
                        <div class="mb-3">
                            <label for="startDate">Starting date</label>
                            <input type="date" class="form-control" id="startDate" name="startDate">
                            <p class="text-danger" id="startAknowledgment"></p>
                        </div>
                        <div class=" mb-3">
                            <label for="endDate">Ending date</label>
                            <input type="date" class="form-control" id="endDate" name="endDate">
                            <p class="text-danger" id="endAknowledgment"></p>
                        </div>
                        <button type="submit" class="btn btn-dark">ADD TO COUPON</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">ADMIN DETAILS</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span>User Name</span>
                    <div class="spaceDiv pt-2"><span class="ms-3">{{admin.userName}}</span></div>
                    <span>Email Address</span>
                    <div class="spaceDiv pt-2"><span class="ms-3">{{admin.email}}</span></div>
                    <span>Mobile Number</span>
                    <div class="spaceDiv pt-2"><span class="ms-3">{{admin.phone}}</span></div>



                </div>
                <div class="modal-footer">
                    <button class="btn btn-dark text-light" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                        data-bs-dismiss="modal">Edit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel2">Update Admin Data</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="updateForm">

                        <div class="mt-3">
                            <input hidden type="text" name="_id" value="{{admin._id}}">
                            <label for="userName">User Name</label>
                            <input type="text" class="form-control" id="userName" name="userName"
                                value="{{admin.userName}}"
                                style="width: 100%; height: 5vh; background-color: rgb(235, 235, 235); color: black; font-family: Arial, Helvetica, sans-serif; font-weight: bolder; font-size: 15px;">
                        </div>
                        <div>
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{admin.email}}"
                                style="width: 100%; height: 5vh; background-color: rgb(235, 235, 235); color: black; font-family: Arial, Helvetica, sans-serif; font-weight: bolder; font-size: 15px;">
                        </div>
                        <div>
                            <label for="phone">Phone NUmber</label>
                            <input type="text" class="form-control" id="phone" name="phone" value="{{admin.phone}}"
                                style="width: 100%; height: 5vh; background-color: rgb(235, 235, 235); color: black; font-family: Arial, Helvetica, sans-serif; font-weight: bolder; font-size: 15px;">
                        </div>
                        <button type="button" onclick="submitForm()" data-bs-target="#exampleModalToggle"
                            data-bs-toggle="modal" data-bs-dismiss="modal"
                            class="btn btn-dark text-light mt-3">Update</button>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Sign out</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you confirm to logout
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Not now</button>
                    <a href="/admin/logout"><button type="button" class="btn btn-dark">Confirm</button></a>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="couponShow" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userTitle"></h5>
                    <a href="/admin/coupons" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                </div>
                <div class="modal-body" id="couponDetails">
                    ...
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("startDate").value="{{coupon.startDate}}".split(" ").slice(0,4).join(" ")
        document.getElementById("endDate").value="{{coupon.endDate}}".split(" ").slice(0,4).join(" ")
    </script>
    <script src="/js/validation.js"></script>
    <script src="/js/coupon.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>