<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="stylesheet" href="/css/cartStyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    
  <style>
    @media only screen and (max-width: 475px) {
      #mainLogo {
        width: 100px;
      }
    }
  </style>

</head>

<body>
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light shadow-sm p-3 w-100 bg-light"
            style="position: fixed; z-index:5">
            <div class="container-fluid">
                <a href="#" class="navbar-brand"><img class="img-fluid" src="/img/logo.png" width="200px"  id="mainLogo" 
                        alt="logo"></a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-5">
                        <a href="/" class="nav-item nav-link  ms-5"
                            style="font-family: Arial, Helvetica, sans-serif;font-weight: bolder;">Home</a>
                        <a href="/shop" class="nav-item nav-link  ms-5"
                            style="font-family: Arial, Helvetica, sans-serif;font-weight: bolder;">Shop</a>
                        <a href="#" class="nav-item nav-link  ms-5"
                            style="font-family: Arial, Helvetica, sans-serif;font-weight: bolder;">About</a>
                        <a href="#" class="nav-item nav-link  ms-5"
                            style="font-family: Arial, Helvetica, sans-serif;font-weight: bolder;">Contact</a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav ms-auto me-3">
                            <a id="userIcons" href="/wish"><img src="/img/wishlist.png" alt="wishlist" width="30px"></a>
                        </div>
                        <div class="navbar-nav me-3">
                            <a id="userIcons" href="/cart"><img src="/img/cart.png" alt="cart" width="30px"></a>
                        </div>
                        <div class="navbar-nav me-3">
                            <a id="userIcons" href="/user"><img src="/img/person1.png" alt="admin" width="30px"></a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>


        <div class="container pt-5">
            <div class="py-5 text-center">

                <h2>Checkout form</h2>

            </div>

            <div class="row">
                <div class="col-md-4 order-md-2 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Your cart</span>
                        <span class="badge badge-secondary badge-pill">3</span>
                    </h4>
                    <ul class="list-group mb-3">
                        <script>
                            var grandTotal = 0
                        </script>
                        {{#each cartProducts}}
                        {{#each cartContent}}
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <img class="me-5" src="{{this.image}}" width="10%" height="10%" alt="">
                            <div>
                                <h6 class="my-0">{{this.productName}}</h6>
                                <small class="text-muted">{{this.brand}}</small>
                            </div>
                            <span class="text-muted ms-auto me-5" id="qty{{this._id}}">{{../quantity}}</span>
                            <span class="text-muted">₹<span id="total{{this._id}}"></span>/-</span>
                        </li>
                        <script>
                            var price = parseInt("{{this.price}}");
                            var qty = parseInt("{{../quantity}}");
                            var grand = price * qty;
                            document.getElementById("total{{this._id}}").textContent = grand;
                            grandTotal += grand
                            console.log(grandTotal)

                        </script>
                        {{/each}}
                        {{/each}}

                        <li class="list-group-item d-flex justify-content-between bg-light">
                            <div class="text-danger">
                                <h6 class="my-0">Promo code</h6>
                                <small id="couponName">coupon name</small>
                            </div>
                            <span class="text-danger">₹ <span id="grandDiscound">0</span> /-</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span class="text-success">Total (INR)</span>
                            <strong class="text-success">₹ <span id="grandTotal"></span> /-</strong>
                        </li>
                    </ul>
                    <script>
                        document.getElementById("grandTotal").textContent = grandTotal
                    </script>
                    <div class="card p-2" id="couponBox">
                        <input type="text" class="form-control" name="couponCode" id="couponCode"
                            placeholder="Coupon code">
                        <button onclick="redeem()" class="btn btn-secondary">Redeem</button>
                    </div>
                </div>
                <div class="col-md-8 order-md-1">
                    <h4 class="mb-3">Billing address</h4>


                    <div class="text-center">
                        {{#each orderAddress}}
                        <div class="row">
                            <div class="bg-white card addresses-item shadow-sm">
                                <div class="gold-members p-4">
                                    <div class="media">
                                        <div class="mr-3"><i class="icofont-location-pin icofont-3x"></i></div>
                                        <div class="media-body">
                                            <h6 class="mb-1">{{this.firstName}}</h6>
                                            <p>{{this.address}}, {{this.address2}}, {{this.state}} {{this.pin}},
                                                {{this.country}}
                                            </p>
                                            <p class="mb-0 text-black font-weight-bold">
                                                <a class="text-success me-2" style="cursor: pointer;"
                                                    onclick="fillAddressFields('{{this.firstName}}', '{{this.lastName}}', '{{this.email}}', '{{this.phone}}', '{{this.address}}', '{{this.address2}}', '{{this.country}}', '{{this.state}}', '{{this.pin}}','{{this._id}}')">
                                                    SELECT</a>

                                                <a class="deleteAddress text-danger ms-2" data-id="{{this._id}}"
                                                    style="cursor: pointer;"> DELETE</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>

                    <form name="checkForm" id="checkForm">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">First name</label>
                                <input type="text" class="form-control" id="firstName" name="firstName">
                                <p id="fNameAknwoledgment" style="color: red; display: none;">Fill valid first name!!!
                                </p>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName">Last name</label>
                                <input type="text" class="form-control" id="lastName" name="lastName">
                                <p id="lNameAknwoledgment" style="color: red; display: none;">Fill valid last name!!!
                                </p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" name="email"
                                placeholder="you@example.com">
                            <p id="emailAknwoledgment" style="color: red; display: none;">Fill valid email address!!!
                            </p>
                        </div>
                        <div class="mb-3">
                            <label for="phone">Conatact number</label>
                            <input type="text" class="form-control" id="phone" name="phone" placeholder="+91xxxxxxxxxx">
                            <p id="phoneAknwoledgment" style="color: red; display: none;">Fill valid phone number!!!
                            </p>
                        </div>
                        <div class="mb-3">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" placeholder="1234 Main St"
                                name="address">
                            <p id="adrressAknwoledgment" style="color: red; display: none;">Fill valid shipping
                                address!!!</p>
                        </div>

                        <div class="mb-3">
                            <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                            <input type="text" class="form-control" id="address2" name="address2"
                                placeholder="Apartment or suite">
                        </div>

                        <div class="row">
                            <div class="col-md-5 mb-3">
                                <label for="country">Country</label>
                                <select class="custom-select d-block w-100" id="country" name="country">
                                    <option value="">Choose...</option>
                                    <option>India</option>
                                </select>
                                <p id="countryAknwoledgment" style="color: red; display: none;">Select valid country!!!
                                </p>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="state">State</label>
                                <select class="custom-select d-block w-100" id="state" name="state">
                                    <option value="">Choose...</option>
                                    <option>Kerala</option>
                                </select>
                                <p id="stateAknwoledgment" style="color: red; display: none;">Select valid state!!!</p>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="pin">pin code</label>
                                <input type="text" class="form-control" id="pin" name="pin">
                                <p id="pinAknwoledgment" style="color: red; display: none;">Enter valid pin number!!!
                                </p>
                            </div>
                            <input type="text" id="id" name="id" hidden>
                            <input type="text" id="couponId" name="couponId" hidden>
                        </div>
                        <hr class="mb-4">
                        <button class="btn btn-dark w-100  btn-block" type="button"
                            onclick="return (checkValidation()&&saveAddress())">Continue to order summery</button>
                    </form>
                    <br>
                </div>
            </div>

            <div class="modal fade" id="addressDeleteShow" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog  modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="userTitle"></h5>
                            <a class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                        </div>
                        <div class="modal-body" id="addressDetails">
                            ...
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-dark text-light" data-bs-dismiss="modal">Close</a>
                        </div>
                    </div>
                </div>
            </div>


            <script src="/js/validation.js"></script>
            <script src="/js/checkOutMgt.js"></script>
</body>

</html>