<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style2.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm p-3 w-100 bg-light" style="position: fixed; z-index:5">
      <div class="container-fluid">
        <a href="#" class="navbar-brand"><img class="img-fluid" src="/img/logo.png" width="200px" alt="logo"></a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-5">
            <a href="#" class="nav-item nav-link  ms-5"
              style="font-family: Arial, Helvetica, sans-serif;font-weight: bolder;">Home</a>
            <a href="/shop" class="nav-item nav-link  ms-5"
              style="font-family: Arial, Helvetica, sans-serif;font-weight: bolder;">Shop</a>
            <a href="#" class="nav-item nav-link  ms-5"
              style="font-family: Arial, Helvetica, sans-serif;font-weight: bolder;">About</a>
            <a href="#" class="nav-item nav-link  ms-5"
              style="font-family: Arial, Helvetica, sans-serif;font-weight: bolder;">Contact</a>
          </div>
          <div class="collapse navbar-collapse" id="navbarCollapse">

            <div class="navbar-nav ms-auto me-3">
              <a id="userIcons" href="/wish"><img src="/img/wishlist.png" alt="wishlist" width="30px"></a>
            </div>
            <div class="navbar-nav me-3">
              <a id="userIcons" href="/cart"><img src="/img/cart.png" alt="cart" width="30px"></a>
            </div>
            <div class="navbar-nav me-3">
              <a id="userIcons" href="/user"><img src="/img/person1.png" alt="admin" width="30px"></a>
            </div>

          </div>
        </div>
      </div>
    </nav>
  </div>
  </div>
  {{#if topBanner}}


  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">

      {{#each topBanner}}
      <div class="carousel-item {{#if @first }}active{{/if}}" style="position: relative;">
        <img src="{{this.bannerImage}}" class="d-block w-100" alt="...">
        <div
          style="position: absolute; top: 18.532vw; left: 200px; font-size: 5.189vw; font-weight: bolder; width:50%; line-height: 2.224vw;">
          {{this.bannerName}}<br><span style="font-size: 1.853vw; font-weight: bold;">{{this.description}}</span><br>
          <a href="/shop">
            <div class="btn btn-dark">EXPLORE</div>
          </a>
        </div>
      </div>
      {{/each}}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  {{/if}}


  {{!-- <div class="container-fluid">
    <div id="hero" class="container pt-4">
      <h4>SEE OUR COLLECTION</h4>
      <h1>FEATURE COLLECTION</h1>
      <p>Visit our own creation and our feature collection from outstock</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
          <div>
            <img class="img-fluid" src="/img/hero1.jpg" alt="hero1">
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
          <div>
            <img class="img-fluid" src="/img/hero4.jpg" alt="hero2">
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
          <div>
            <img class="img-fluid mt-5" src="/img/hero3.jpg" alt="hero3">
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
          <div>
            <img class="img-fluid mt-5" src="/img/hero2.jpg" alt="hero4">
          </div>
        </div>
      </div>
    </div>

  </div> --}}

  <div class="container-fluid">
    <div id="hero" class="container pt-4">
      <h4>EXPLORE THE LOOKOOK</h4>
      <h1>TOP SELLING PRODUCTS</h1>
      <p>Explore the new look item from Lookook on your own Outstock</p>
    </div>
    <div class="container">
      <div class="row">
        {{#each productArray}}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
          <div class="card shadow-sm">
            <a href="/shop/{{this._id}}">
              <img src="{{this.images.[0]}}" id="shopImage" data-product-id="{{this._id}}" class="card-img-top"
                style="background-color: white;" alt="title" />
              <div class="card-body bg-light">
                <div class="clearfix">
                  <span class="float-start badge rounded-pill text-dark">{{this.productName}}</span><br>
                  <h5 class="float-start badge rounded-pill text-dark">
                    ₹{{this.price}}/-</h5>
                  <small class="float-end  rounded-pill text-danger"
                    style="opacity: .5;"><del>₹{{this.net_price}}/-</del></small><br>
                  <span class="text-warning">
                    <div class="fa fa-star"></div>
                    <div class="fa fa-star"></div>
                    <div class="fa fa-star"></div>
                    <div class="fa fa-star"></div>
                    <div class="fa fa-star"></div>
                  </span>
                </div>

              </div>
            </a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="container mt-3" style="display: flex; justify-content: center;">
    <a href="/shop">
      <div class="btn btn-light text-dark" style="border: 0.5px solid black;">SHOW ALL PRODUCTS</div>
    </a>
  </div>
  </div>
  </div>
  {{#if centerBanner}}
  <div class="container mt-5">
    <div class="row">
      {{#each centerBanner}}
      <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col-xxl-6">
        <img src="{{this.bannerImage}}" alt="banner2" width="100%">
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}


  <div class="container-fluid">
    <div id="hero" class="container pt-4">
      <h4>EXPLORE THE LOOKOOK</h4>
      <h1>TRENDING PRODUCTS</h1>
      <p>Explore the trending items from Lookook on your own Outstock</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {{#each trendingArray}}
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
        <div class="card shadow-sm">
          <a href="/shop/{{this._id}}">
            <img src="{{this.images.[0]}}" id="shopImage" data-product-id="{{this._id}}" class="card-img-top"
              style="background-color: white;" alt="title" />
            <div class="card-body bg-light">
              <div class="clearfix">
                <span class="float-start badge rounded-pill text-dark">{{this.productName}}</span><br>
                <h5 class="float-start badge rounded-pill text-dark">
                  ₹{{this.price}}/-</h5>
                <small class="float-end  rounded-pill text-danger"
                  style="opacity: .5;"><del>₹{{this.net_price}}/-</del></small><br>
                <span class="text-warning">
                  <div class="fa fa-star"></div>
                  <div class="fa fa-star"></div>
                  <div class="fa fa-star"></div>
                  <div class="fa fa-star"></div>
                  <div class="fa fa-star"></div>
                </span>
              </div>

            </div>
          </a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  <br>
  <br>
  <div class="container-fluid">
    <div id="hero" class="container pt-4">
      <h4>EXPLORE THE LOOKOOK</h4>
      <h1>NEW ARRIVAL</h1>
      <p>Explore the Newly arrived items from Lookook on your own Outstock4</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {{#each arrivalArray}}
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
        <div class="card shadow-sm">
          <a href="/shop/{{this._id}}">
            <img src="{{this.images.[0]}}" id="shopImage" data-product-id="{{this._id}}" class="card-img-top"
              style="background-color: white;" alt="title" />
            <div class="card-body bg-light">
              <div class="clearfix">
                <span class="float-start badge rounded-pill text-dark">{{this.productName}}</span><br>
                <h5 class="float-start badge rounded-pill text-dark">
                  ₹{{this.price}}/-</h5>
                <small class="float-end  rounded-pill text-danger"
                  style="opacity: .5;"><del>₹{{this.net_price}}/-</del></small><br>
                <span class="text-warning">
                  <div class="fa fa-star"></div>
                  <div class="fa fa-star"></div>
                  <div class="fa fa-star"></div>
                  <div class="fa fa-star"></div>
                  <div class="fa fa-star"></div>
                </span>
              </div>

            </div>
          </a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

</body>

</html>