<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style2.css">
  <link rel="stylesheet" href="/css/footerStyle.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  {{!-- <script>
    const options = {
      bottom: '0px',
      right: '0px',
      left: 'unset',
      time: '0.5s',
      saveInCookies: false,
      label: '⛅',
      autoMatchOsTheme: true
    }
    function addDarkmodeWidget() {
      const darkmode = new Darkmode(options);
      darkmode.showWidget()
    }
    window.addEventListener('load', addDarkmodeWidget);



  </script> --}}
  <style>
    @media only screen and (max-width: 475px) {
      #mainLogo {
        width: 100px;
      }
    }
  </style>
</head>

<body>
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm p-3 w-100 bg-light" style="position: fixed; z-index:5">
      <div class="container-fluid">
        <a href="#" class="navbar-brand"><img class="img-fluid" src="/img/logo.png" id="mainLogo" width="200px"
            alt="logo"></a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-5">
            <a href="#" class="nav-item nav-link  ms-5"
              style="font-family: Arial, Helvetica, sans-serif;font-weight: bolder;">Home</a>
            <a href="/shop" class="nav-item nav-link  ms-5"
              style="font-family: Arial, Helvetica, sans-serif;font-weight: bolder;">Shop</a>
            <a href="#" class="nav-item nav-link  ms-5"
              style="font-family: Arial, Helvetica, sans-serif;font-weight: bolder;">About</a>
            <a href="/contact" class="nav-item nav-link  ms-5"
              style="font-family: Arial, Helvetica, sans-serif;font-weight: bolder;">Contact</a>
          </div>
          <div class="collapse navbar-collapse" id="navbarCollapse">

            <div class="navbar-nav ms-auto me-3">
              <a id="userIcons" href="/wish"><img src="/img/wishlist.png" alt="wishlist" width="30px"></a>
            </div>
            <div class="navbar-nav me-3">
              <a id="userIcons" href="/cart"><img src="/img/cart.png" alt="cart" width="30px"></a>
            </div>
            <div class="navbar-nav me-3">
              <a id="userIcons" href="/user"><img src="/img/person1.png" alt="admin" width="30px"></a>
            </div>

          </div>
        </div>
      </div>
    </nav>
  </div>
  </div>
  {{#if topBanner}}


  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">

      {{#each topBanner}}
      <div class="carousel-item {{#if @first }}active{{/if}}" style="position: relative;">
        <img src="{{this.bannerImage}}" class="d-block w-100" alt="...">
      </div>
      {{/each}}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  {{/if}}


  {{!-- <div class="container-fluid">
    <div id="hero" class="container pt-4">
      <h4>SEE OUR COLLECTION</h4>
      <h1>FEATURE COLLECTION</h1>
      <p>Visit our own creation and our feature collection from outstock</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
          <div>
            <img class="img-fluid" src="/img/hero1.jpg" alt="hero1">
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
          <div>
            <img class="img-fluid" src="/img/hero4.jpg" alt="hero2">
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
          <div>
            <img class="img-fluid mt-5" src="/img/hero3.jpg" alt="hero3">
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
          <div>
            <img class="img-fluid mt-5" src="/img/hero2.jpg" alt="hero4">
          </div>
        </div>
      </div>
    </div>

  </div> --}}

  <div class="container-fluid">
    <div id="hero" class="container pt-4">
      <h4>EXPLORE THE LOOKOOK</h4>
      <h1>TOP SELLING PRODUCTS</h1>
      <p>Explore the new look item from Lookook on your own Outstock</p>
    </div>
    <div class="container">
      <div class="row">
        {{#each productArray}}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mb-5 mb-sm-3 ">
          <div class="card shadow-sm">
            <a href="/shop/{{this._id}}">
              <img src="{{this.image}}" id="shopImage" data-product-id="{{this._id}}" class="card-img-top"
                style="background-color: white;" alt="title" />
              <div class="card-body bg-light">
                <div class="clearfix">
                  <span class="float-start badge rounded-pill text-dark">{{this.productName}}</span><br>
                  <h5 class="float-start badge rounded-pill text-dark">
                    ₹{{this.price}}/-</h5>
                  <small class="float-end  rounded-pill text-danger"
                    style="opacity: .5;"><del>₹{{this.net_price}}/-</del></small><br>
                  
                </div>

              </div>
            </a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="container mt-3" style="display: flex; justify-content: center;">
    <a href="/shop">
      <div class="btn btn-light text-dark" style="border: 0.5px solid black;">SHOW ALL PRODUCTS</div>
    </a>
  </div>
  </div>
  </div>
  {{#if centerBanner}}
  <div class="container mt-5">
    <div class="row">
      {{#each centerBanner}}
      <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col-xxl-6 mb-3">
        <img src="{{this.bannerImage}}" alt="banner2" width="100%">
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}


  <div class="container-fluid">
    <div id="hero" class="container pt-4">
      <h4>EXPLORE THE LOOKOOK</h4>
      <h1>TRENDING PRODUCTS</h1>
      <p>Explore the trending items from Lookook on your own Outstock</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {{#each trendingArray}}
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mb-3">
        <div class="card shadow-sm">
          <a href="/shop/{{this._id}}">
            <img src="{{this.image}}" id="shopImage" data-product-id="{{this._id}}" class="card-img-top"
              style="background-color: white;" alt="title" />
            <div class="card-body bg-light">
              <div class="clearfix">
                <span class="float-start badge rounded-pill text-dark">{{this.productName}}</span><br>
                <h5 class="float-start badge rounded-pill text-dark">
                  ₹{{this.price}}/-</h5>
                <small class="float-end  rounded-pill text-danger"
                  style="opacity: .5;"><del>₹{{this.net_price}}/-</del></small><br>
               
              </div>

            </div>
          </a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  <br>
  <br>
  <div class="container-fluid">
    <div id="hero" class="container pt-4">
      <h4>EXPLORE THE LOOKOOK</h4>
      <h1>NEW ARRIVAL</h1>
      <p>Explore the Newly arrived items from Lookook on your own Outstock4</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {{#each arrivalArray}}
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mb-3">
        <div class="card shadow-sm">
          <a href="/shop/{{this._id}}">
            <img src="{{this.image}}" id="shopImage" data-product-id="{{this._id}}" class="card-img-top"
              style="background-color: white;" alt="title" />
            <div class="card-body bg-light">
              <div class="clearfix">
                <span class="float-start badge rounded-pill text-dark">{{this.productName}}</span><br>
                <h5 class="float-start badge rounded-pill text-dark">
                  ₹{{this.price}}/-</h5>
                <small class="float-end  rounded-pill text-danger"
                  style="opacity: .5;"><del>₹{{this.net_price}}/-</del></small><br>

              </div>

            </div>
          </a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  <br>
  <br>
  <section class="contact-area" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="contact-content text-center">
            <a href="#"><img src="/img/logo.png" class="img-fluid ms-5" alt="logo"></a>
            <p>Subscribe to the Outstock Store mailing list to receive updates on new arrivals, special offers and
              other discount information. </p>
            <div class="hr"></div>
            <h6>1120 Hi-lite busiiness park, CLT 673016, KOZHIKODE, KERALA.</h6>
            <h6>+91 8089 8088 47<span>|</span>+91 8089 4788 47</h6>
            <div class="contact-social">
              <ul>
                <li><a class="hover-target" href="https://www.facebook.com/afsal.manu.370/"><i class="fab fa-facebook-f"></i></a></li>
                <li><a class="hover-target" href="www.linkedin.com/in/afsal-kp"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a class="hover-target" href="https://github.com/Afsalkp7"><i class="fab fa-github"></i></a></li>
                <li><a class="hover-target" href="https://codepen.io/Afsalkp7"><i class="fab fa-codepen"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- =============== 1.9 Contact Area End ====================-->
  <!-- =============== 1.9 Footer Area Start ====================-->
  <footer>
    <p>Copyright &copy; 2023 <img src="/img/logo.png" alt="logo"> All Rights Reserved.</p>
  </footer>
</body>

</html>