<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OUTSTOCK</title>
  <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/dzvvpbnai/image/upload/v1704860410/Screenshot_2024-01-10_094916_ny2sxf.jpg">
    <link rel="stylesheet" href="/css/logStyle.css">
    <link rel="stylesheet" href="/css/payment.css">
    <link rel="stylesheet" href="/css/userDetails.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
  <style>
    @media only screen and (max-width: 475px) {
      #mainLogo {
        width: 100px;
      }
    }
  </style>
</head>

<body>

    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light shadow-sm p-3 w-100 bg-light" style="position: fixed; z-index:5">
      <div class="container-fluid">
        <a href="/" class="navbar-brand"><img class="img-fluid" src="/img/logo.png" id="mainLogo" width="200px"
            alt="logo"></a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-0 ms-sm-0 ms-md-0 ms-lg-5 ms-xl-5 ms-xxl-5">
            <a href="/" class="nav-item nav-link  ms-5"
              style="font-family: Arial, Helvetica, sans-serif;font-weight: bolder;">Home</a>
            <a href="/shop" class="nav-item nav-link  ms-5"
              style="font-family: Arial, Helvetica, sans-serif;font-weight: bolder;">Shop</a>
            <a href="/about" class="nav-item nav-link  ms-5"
              style="font-family: Arial, Helvetica, sans-serif;font-weight: bolder;">About</a>
            <a href="/contact" class="nav-item nav-link  ms-5"
              style="font-family: Arial, Helvetica, sans-serif;font-weight: bolder;">Contact</a>
          </div>
          <div class="collapse navbar-collapse" id="navbarCollapse">

            <div class="navbar-nav ms-auto me-3">
              <a id="userIcons" href="/wish" class="ms-5 ms-sm-5 ms-lg-0 ms-xl-0 ms-xxl-0"><img src="/img/wishlist.png" alt="wishlist" width="30px"></a>
            </div>
            <div class="navbar-nav me-3">
              <a id="userIcons" href="/cart" class="ms-5 ms-sm-5 ms-lg-0 ms-xl-0 ms-xxl-0"><img src="/img/cart.png" alt="cart" width="30px"></a>
            </div>
            <div class="navbar-nav me-3">
              <a id="userIcons" href="/user" class="ms-5 ms-sm-5 ms-lg-0 ms-xl-0 ms-xxl-0"><img src="/img/person1.png" alt="admin" width="30px"></a>
            </div>

          </div>
        </div>
      </div>
    </nav>
    </div>



    <div class="container mt-5">

        <div class="container-xl px-4 mt-4">

            <hr class="mt-0 mb-4">
            <div class="row">
                <div class="col-xl-4">

                    <div class="card mb-4 mb-xl-0">
                        <div class="card-body text-center">

                            <img class="img-account-profile rounded-circle me-3 mb-2" style="height: 5rem;"
                                src="/img/person.png" alt="profile">

                            <span class="text-dark  mt-3"
                                style="font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">Hello,
                            </span><span
                                style="font-weight: light; font-family: Arial, Helvetica, sans-serif; font-size: 16px;"
                                class="font-italic text-muted ">{{user.userName}}</span>
                            <br>
                        </div>
                    </div>


                    <a href="/user_data">
                        <div class="card mb-4 mb-xl-0">
                            <div class="card-body text-center">

                                <img class="img-account-profile rounded-circle me-3 mb-2 float-start"
                                    src="/img/person1.png" alt="person">

                                <span class="text-dark float-start mt-3"
                                    style="font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 16px;">PERSONAL
                                    INFO</span>
                                <br>
                            </div>
                        </div>
                    </a>


                    <a href="/myOrders">
                        <div class="card mb-4 mb-xl-0">
                            <div class="card-body text-center">

                                <img class="img-account-profile rounded-circle me-3 mb-2 float-start"
                                    src="/img/order.png" alt="order">

                                <span class="text-dark float-start mt-3"
                                    style="font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 16px;">MY
                                    ORDERS</span>
                                <br>
                            </div>
                        </div>
                    </a>


                    <a href="/wish">
                        <div class="card mb-4 mb-xl-0">
                            <div class="card-body text-center">

                                <img class="img-account-profile rounded-circle float-start me-3 mb-2"
                                    src="/img/wish.png" alt="wish">

                                <span class="text-dark float-start mb-4"
                                    style="font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 16px;">MY
                                    WISHLIST</span>
                                <br>
                            </div>
                        </div>
                    </a>


                    <a href="/myAddresses">
                        <div class="card mb-4 mb-xl-0">
                            <div class="card-body text-center">

                                <img class="img-account-profile rounded-circle float-start me-3 mb-2"
                                    src="/img/address.png" alt="address">

                                <span class="text-dark float-start mt-3"
                                    style="font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 16px;">MY
                                    ADDRESS</span>
                                <br>
                            </div>
                        </div>
                    </a>


                    <a href="/logout">
                        <div class="card mb-4 mb-xl-0">
                            <div class="card-body text-center">

                                <img class="img-account-profile rounded-circle float-start me-3 mb-2"
                                    src="/img/logout.png" alt="logout">

                                <span class="text-dark float-start  mt-3"
                                    style="font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 16px;">LOG
                                    OUT</span>
                                <br>
                            </div>
                        </div>
                    </a>

                    <div class="card mb-4 mb-xl-0">
                        <div class="card-body text-center">

                            <img class="img-account-profile rounded-circle float-start me-3 mb-2" src="/img/delete.png"
                                alt="DELETE">

                            <span class="text-dark  mt-3 float-start"
                                style="font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 16px;">DELETE
                                ACCOUNT</span>
                            <br>
                        </div>
                    </div>

                </div>
                <div class="col-xl-8">

                    <div class="card mb-4">
                        {{#if cancelled}}
                        <div class="card-header" style="display: none;">Order details<a id="cancelBtn" style="cursor: pointer;"
                                data-order-id="{{order._id}}" class="float-end">cancel order</a></div>
                        <div class="card-body ">
                        <div class="card-header" style="display: block;">Order details<a id="dltBtn" style="cursor: pointer;"
                                data-order-id="{{order._id}}" class="float-end">delete order</a></div>
                        <div class="card-body ">
                        {{else if outForDelivery}}
                        <div class="card-header" style="display: none;">Order details<a id="dltBtn" style="cursor: pointer;"
                                data-order-id="{{order._id}}" class="float-end">delete order</a></div>
                        <div class="card-body ">
                        <div class="card-header">Order details<a  style="display: none;" id="cancelBtn" style="cursor: pointer;"
                                data-order-id="{{order._id}}" class="float-end">cancel order</a></div>
                        <div class="card-body ">
                        {{else}}
                        <div class="card-header" style="display: none;">Order details<a id="dltBtn" style="cursor: pointer;"
                                data-order-id="{{order._id}}" class="float-end">delete order</a></div>
                        <div class="card-body ">
                        <div class="card-header" style="display: block;">Order details<a id="cancelBtn" style="cursor: pointer;"
                                data-order-id="{{order._id}}" class="float-end text-danger">cancel order</a></div>
                        <div class="card-body ">
                        {{/if}}
                            {{#each orderedProducts}}

                            <div class="card shadow-0 border mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="{{this.image}}" class="img-fluid" alt="product">
                                        </div>
                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0">{{this.productName}} <b>{{this.brand}}</b></p>
                                        </div>
                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0 small">{{this.category}}</p>
                                        </div>
                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0 small">{{this.price}}</p>
                                        </div>
                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0 small">Qty: {{this.qty}}</p>
                                        </div>
                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0 small" id="grand{{this._id}}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                var price = {{ this.price }}
                                var qty = {{ this.qty }}
                                var total = parseInt(price) * parseInt(qty)
                                document.getElementById("grand{{this._id}}").textContent = total
                            </script>
                            {{/each}}

                            <div class="card-header collapsed" role="tab" id="headingTwo" data-toggle="collapse"
                                href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                <h5 class="mb-0">
                                    Order Details
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <div class="card-body">
                                        <form>
                                            <div class="form-group row">
                                                <label for="graveyard" class="col-md-4 col-form-label "><b>Order
                                                        Id</b></label>
                                                <div class="col-md-8 col-sm-12">
                                                    {{order._id}}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label" for="authority"><b>Total
                                                        Amount</b></label>
                                                <div class="col-md-8 col-sm-12">
                                                    {{order.totalAmount}}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="orderStatus" class="col-md-4 col-form-label "><b>Payment
                                                        Status</b></label>
                                                <div class="col-md-8 col-sm-12">
                                                    {{order.paymentId}}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="orderStatus" class="col-md-4 col-form-label "><b>Ordered
                                                        Date</b></label>
                                                <div class="col-md-8 col-sm-12" id="orderedDate">
                                                    
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="orderStatus" class="col-md-4 col-form-label "><b>Delivery
                                                        Date</b></label>
                                                <div class="col-md-8 col-sm-12" id="deliveryDate">
                                                    
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="orderStatus" class="col-md-4 col-form-label "><b>Order
                                                        status</b></label>
                                                {{#if orderPlaced}}
                                                <div class="col-md-8 col-sm-12 mt-2 text-success    " style="font-weight: bold;">
                                                    {{order.orderStatus}}
                                                </div>
                                                {{/if}}
                                                {{#if delivered}}
                                                <div class="col-md-8 col-sm-12 mt-2 text-warning" style="font-weight: bold;">
                                                    {{order.orderStatus}}
                                                </div>
                                                {{/if}}
                                                {{#if cancelled}}
                                                <div  class="col-md-8 col-sm-12 mt-2 text-danger" style="font-weight: bold;">
                                                    {{order.orderStatus}}
                                                </div>
                                                {{/if}}
                                                
                                                {{#if shipped}}
                                                <div class="col-md-8 col-sm-12 mt-2 text-warning" style="font-weight: bold;">
                                                    {{order.orderStatus}}
                                                </div>
                                                {{/if}}
                                                {{#if outForDelivery}}
                                                <div class="col-md-8 col-sm-12 mt-2 text-warning" style="font-weight: bold;">
                                                    {{order.orderStatus}}
                                                </div>
                                                {{/if}}

                                            </div>
                                            {{#if cancelled}}
                                            <div class="form-group row">
                                                <label for="orderStatus" class="col-md-4 col-form-label "><b>Reason for cancellation</b></label>
                                                <div class="col-md-8 col-sm-12">
                                                    {{order.cancelReason}}
                                                </div>
                                            </div>
                                            {{/if}}
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <script>
                                let orderedDate = "{{order.orderedDate}}"
                                let deliveryDate = "{{order.deliveryDate}}"
                                document.getElementById("orderedDate").innerHTML=orderedDate.split(" ").slice(0,5).join(" ")
                                document.getElementById("deliveryDate").innerHTML=deliveryDate.split(" ").slice(0,5).join(" ")
                            </script>


                            <div class="card-header collapsed" role="tab" id="headingTwo" data-toggle="collapse"
                                href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                <h5 class="mb-0">
                                    Order Address
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <div class="card-body">
                                        <form>
                                            <div class="form-group row">
                                                <label for="graveyard" class="col-md-4 col-form-label "><b>Customer
                                                        Name</b></label>
                                                <div class="col-md-8 col-sm-12">
                                                    {{address.firstName}} {{address.lastName}}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label" for="authority"><b>Phone
                                                        Number</b></label>
                                                <div class="col-md-8 col-sm-12">
                                                    {{address.phone}}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="orderStatus" class="col-md-4 col-form-label "><b>Email
                                                        address</b></label>
                                                <div class="col-md-8 col-sm-12">
                                                    {{address.email}}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="orderStatus" class="col-md-4 col-form-label "><b>Delivery
                                                        Address</b></label>
                                                <div class="col-md-8 col-sm-12">
                                                    {{address.address}}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="orderStatus" class="col-md-4 col-form-label "><b>Optional
                                                        address</b></label>
                                                <div class="col-md-8 col-sm-12">
                                                    {{address.address2}}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="orderStatus"
                                                    class="col-md-4 col-form-label "><b>Country</b></label>
                                                <div class="col-md-8 col-sm-12">
                                                    {{address.country}}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="orderStatus"
                                                    class="col-md-4 col-form-label "><b>State</b></label>
                                                <div class="col-md-8 col-sm-12">
                                                    {{address.state}}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="orderStatus" class="col-md-4 col-form-label "><b>Pin
                                                        code</b></label>
                                                <div class="col-md-8 col-sm-12">
                                                    {{address.pin}}
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {{!-- modal --}}

        <div class="modal fade" id="orderCancel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="userTitle"></h5>
                        <a href="/" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                    </div>
                    <div class="modal-body" id="orderDetails">
                        ...
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>


        <script src="/js/validation.js"></script>
        <script src="/js/orderMgt.js"></script>
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    </div>


</body>

</html>