
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OUTSTOCK</title>
  <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/dzvvpbnai/image/upload/v1704860410/Screenshot_2024-01-10_094916_ny2sxf.jpg">
  <link rel="stylesheet" href="/css/style2.css">
  <link rel="stylesheet" href="/css/productCard.css">
  <link rel="stylesheet" href="/css/zoom.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toaster/4.0.1/js/bootstrap-toaster.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
  <style>
    @media only screen and (max-width: 475px) {
      #mainLogo {
        width: 100px;
      }
    }
    @media only screen and (max-width: 576px) {
      #mainSection {
        padding-left: 10px  !important ;
      }
    }
  </style>
</head>
<body >

  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm p-3 w-100 bg-light" style="position: fixed; z-index:5">
      <div class="container-fluid">
        <a href="#" class="navbar-brand"><img class="img-fluid" src="/img/logo.png" width="200px" alt="logo"  id="mainLogo" ></a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-5">
            <a href="/" class="nav-item nav-link  ms-5"
              style="font-family: Arial, Helvetica, sans-serif;font-weight: bolder;">Home</a>
            <a href="/shop" class="nav-item nav-link  ms-5"
              style="font-family: Arial, Helvetica, sans-serif;font-weight: bolder;">Shop</a>
            <a href="/about" class="nav-item nav-link  ms-5"
              style="font-family: Arial, Helvetica, sans-serif;font-weight: bolder;">About</a>
            <a href="/contact" class="nav-item nav-link  ms-5"
              style="font-family: Arial, Helvetica, sans-serif;font-weight: bolder;">Contact</a>
          </div>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto me-3">
              <a id="userIcons" href="/wish"><img src="/img/wishlist.png" alt="wishlist" width="30px"></a>
            </div>
            <div class="navbar-nav me-3">
              <a id="userIcons" href="/cart"><img src="/img/cart.png" alt="cart" width="30px"></a>
            </div>
            <div class="navbar-nav me-3">
              <a id="userIcons" href="/user"><img src="/img/person1.png" alt="admin" width="30px"></a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>


  <!-- content -->


 
  <section class="pt-5 ms-3 bg-light">
    <div class="container pt-5" style="padding: 0px 0px 0px 0px ;" id="mainSection">
      <div class="row gx-5">
        <aside class="col-lg-6">
            <div class="border rounded-4 mb-3 d-flex justify-content-center">
              <div class="zoom">
                <div class="original">
                  <img style="max-width: 100%; max-height: 100vh; margin: auto;" id="mainImg" class="img-fluid "
                    src="{{item.image}}" />
                </div>
                <div class="viewer" style="z-index: 3;">
                  <img id="zoomImage" src="{{item.image}}">
                </div>
              </div>

            </div>

          <div class="d-flex justify-content-center mb-3 img-fluid">
            {{#if item.image}}
            <img id="img1" onclick="change1()" width="100" height="100" class="rounded-2 img-fluid ps-2" src="{{item.image}}" />
            {{/if}}
            {{#if item.secondImage}}
            <img id="img2" onclick="change2()" width="100" height="100" class="rounded-2 img-fluid ps-2" src="{{item.secondImage}}" />
            {{/if}}
            {{#if item.thirdImage}}
            <img id="img3" onclick="change3()" width="100" height="100" class="rounded-2 img-fluid ps-2" src="{{item.thirdImage}}" />
            {{/if}}
            {{#if item.fourthImage}}
            <img id="img4" onclick="change4()" width="100" height="100" class="rounded-2 img-fluid ps-2" src="{{item.fourthImage}}" />
            {{/if}}
          </div>
          <!-- thumbs-wrap.// -->
          <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-lg-6">
          <div class="ps-lg-6">
            <h4 class="title text-dark">
              {{item.productName}}<br />
              {{item.category}}
            </h4>
            <div class="d-flex flex-row my-3">
              <div class="text-warning mb-1 me-2">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span class="ms-1">
                  4.5
                </span>
              </div>
              <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1" id="availableStock"></i></span>
              <span class="ms-2" id="stockAlert">In stock</span>
            </div>

            <div class="mb-3">
              <span class="h5">₹{{item.price}}</span>
              <span class="text-muted">/per pcs</span><br>
              <span class="text-small text-danger"><del>₹{{item.net_price}}/-</del></span>
            </div>

            <p>
              {{item.description}}
            </p>

            <div class="row">
              <dt class="col-3">Category:</dt>
              <dd class="col-9">{{item.category}}</dd>

              <dt class="col-3">Brand</dt>
              <dd class="col-9">{{item.brand}}</dd>

              <dt class="col-3">Product Name</dt>
              <dd class="col-9">{{item.productName}}</dd>

              <dt class="col-3">Net Price</dt>
              <dd class="col-9">{{item.net_price}}</dd>
            </div>

            <hr />

            <div class="row mb-4">
              <div class="col-md-4 col-6 mb-3">
                <label class="mb-2 d-block">Quantity</label>
                <div class="input-group mb-3" style="width: 170px;">
                  <button class="btn btn-white border border-secondary px-3" type="button" id="decrement" data-mdb-ripple-color="dark">
                    <i class="fas fa-minus"></i>
                  </button>
                  <input type="text" id="quantity" readonly class="form-control text-center border border-secondary" aria-label="Example text with button addon" aria-describedby="button-addon1" value="1" />
                  <button class="btn btn-white border border-secondary px-3" type="button" id="increment" data-mdb-ripple-color="dark">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>

            <button class="btn btn-dark shadow-0" id="buyNowButton" data-item-id="{{item._id}}"> Buy now </button>
            <button class="btn btn-dark shadow-0" id="addToCartButton" data-item-id="{{item._id}}"> <i class="me-1 fa fa-shopping-basket"></i> Add to cart </button>
            {{!-- <button style="display: none;" class="btn btn-dark shadow-0 mb-2" id="outOfStockBuyNow" onclick="outOfStock()" > Buy now </button>
            <button style="display: none;" class="btn btn-dark shadow-0 mb-2" id="outOfStockAddToCart"  onclick="outOfStock()"  > <i class="me-1 fa fa-shopping-basket"></i> Add to cart </button> --}}
            <buton id="addToWishButton" data-item-id="{{item._id}}" class="btn btn-light border border-secondary py-2 icon-hover px-3"> <i class="me-1 fa fa-heart fa-lg"></i> Save </buton>
          </div>
        </main>
      </div>
    </div>
  </section>
  <p id="len" style="display: none;">0</p>
  <p id="total" style="display: none;"></p>
  <p id="discound" style="display: none;">0</p>
  <p id="grandTotal" style="display: none;"></p>
  <!-- content -->
<script>
  function outOfStock(){
    Toastify({
            text: "Item is out of stock",
            duration: 1000,
            newWindow: true,
            close: true,
            gravity: "top", 
            position: "center", 
            stopOnFocus: true, 
            style: {
              background: "black",
            },
            
          }).showToast();
  }
</script>

  <script>
    if({{item.quantity}} >= 5){
      document.getElementById("availableStock").innerHTML=""
      document.getElementById("stockAlert").innerHTML="In stock"
      document.getElementById("stockAlert").style.color="green"
    }else if({{item.quantity}} < 5 && {{item.quantity}} > 0 ){
      document.getElementById("availableStock").innerHTML=" {{item.quantity}}"
      document.getElementById("stockAlert").innerHTML="Low stock"
      document.getElementById("stockAlert").style.color="red"
    }else{
      document.getElementById("stockAlert").innerHTML="Out of stock"
      document.getElementById("stockAlert").style.color="red"
      document.getElementById("outOfStockAddToCart").style.display="block"
      document.getElementById("outOfStockBuyNow").style.display="block"
      document.getElementById("buyNowButton").style.display="none"
      document.getElementById("addToCartButton").style.display="none"
    }
  </script>



  <script>
    function change1() {
      document.getElementById("mainImg").src = "{{item.image}}"
      document.getElementById("zoomImage").src = "{{item.image}}"
    }
    function change2() {
      document.getElementById("mainImg").src = "{{item.secondImage}}"
      document.getElementById("zoomImage").src = "{{item.secondImage}}"
    }
    function change3() {
      document.getElementById("mainImg").src = "{{item.thirdImage}}"
      document.getElementById("zoomImage").src = "{{item.thirdImage}}"
    }
    function change4() {
      document.getElementById("mainImg").src = "{{item.fourthImage}}"
      document.getElementById("zoomImage").src = "{{item.fourthImage}}"
    }
    const quantityInput = document.getElementById('quantity');
    const incrementButton = document.getElementById('increment');
    const decrementButton = document.getElementById('decrement');

    incrementButton.addEventListener('click', () => {
      let quantity = parseInt(quantityInput.value) || 0;

      if ( {{ item.quantity }} > quantity ){
      if ( quantity < 10 ) {
        quantity = Math.min(10, quantity + 1);
        quantityInput.value = quantity;
      }else{
        Toastify({
        text: "Only 10 pcs can purchase at a time",
        duration: 1000,
        newWindow: true,
        close: true,
        gravity: "top",
        position: "center",
        stopOnFocus: true,
        style: {
          background: "black",
        },

      }).showToast();
      }

    }else {
      Toastify({
        text: "Only {{item.quantity}} pcs available in stock",
        duration: 1000,
        destination: "https://github.com/apvarun/toastify-js",
        newWindow: true,
        close: true,
        gravity: "top",
        position: "center",
        stopOnFocus: true,
        style: {
          background: "black",
        },
      }).showToast();
    }
    });

    decrementButton.addEventListener('click', () => {
      let quantity = parseInt(quantityInput.value) || 0;
      quantity = Math.max(1, quantity - 1);
      quantityInput.value = quantity;
    });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/js/zoom.js"></script>
  <script>
    var x = $('#mainImg').zoom(3);
    x.setZoom(2);
  </script>
  <script src="/js/cartMgt.js"></script>
  <!-- Include the script normally -->



</body>

</html>