<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="stylesheet" href="/css/productCard.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
            

</head>

<body>
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light shadow-sm p-3 w-100 bg-light"
            style="position: fixed; z-index:5">
            <div class="container-fluid">
                <a href="#" class="navbar-brand"><img class="img-fluid" src="/img/logo.png" width="200px"
                        alt="logo"></a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-5">
                        <a href="/" class="nav-item nav-link  ms-5"
                            style="font-family: Arial, Helvetica, sans-serif;font-weight: bolder;">Home</a>
                        <a href="/shop" class="nav-item nav-link  ms-5"
                            style="font-family: Arial, Helvetica, sans-serif;font-weight: bolder;">Shop</a>
                        <a href="/about" class="nav-item nav-link  ms-5"
                            style="font-family: Arial, Helvetica, sans-serif;font-weight: bolder;">About</a>
                        <a href="/contact" class="nav-item nav-link  ms-5"
                            style="font-family: Arial, Helvetica, sans-serif;font-weight: bolder;">Contact</a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav ms-auto me-3">
                            <a id="userIcons" href="/wish"><img src="/img/wishlist.png" alt="wishlist" width="30px"></a>
                        </div>
                        <div class="navbar-nav me-3">
                            <a id="userIcons" href="/cart"><img src="/img/cart.png" alt="cart" width="30px"></a>
                        </div>
                        <div class="navbar-nav me-3">
                            <a id="userIcons" href="/user"><img src="/img/person1.png" alt="admin" width="30px"></a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="mainShop container-fluid" style="background-color: #f3f1f1; position:relative">
        <img class="Shopimg img-fluid" src="/img/shopBg.jpg" width="100%">
        <div class="shopHead"
            style="text-align: center ; position: absolute; top: 50%;left:50%; transform: translate(-50%,-50%);">
            <h2>Products</h2>
            <span style="opacity: .5;">Home/</span><b>Products</b>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3 col-xxl-3 p-5"
                style="position: sticky; top:70px; height: 800px">
                <span class="text-center"
                    style="font-size: 18px;font-weight: bold; font-family: Arial, Helvetica, sans-serif;">FILTER BY
                    CATEGORIES</span>
                <a style="text-decoration: none; font-size: 15px; color: black;" href="/shop?category=all">
                    <li style="list-style: none; margin-top: 10px;">ALL</li>
                </a>
                {{#each category}}
                {{!-- <a style="text-decoration: none; font-size: 15px; color: black;"
                    href="/shop?category={{this.name}}">
                    <li style="list-style: none; margin-top: 10px;">{{this.name}}</li>
                </a> --}}
                <label>
                    <input type="checkbox" name="category" class="category-filter" value="{{this.name}}">
                    {{this.name}}
                </label><br>
                {{/each}}
                <br>
                <span class="text-center"
                    style="font-size: 18px;font-weight: bold; font-family: Arial, Helvetica, sans-serif;">FILTER BY
                    BRANDS</span>
                <a style="text-decoration: none; font-size: 15px; color: black;" href="/shop?brand=all">
                    <li style="list-style: none; margin-top: 10px;">ALL</li>
                </a>
                {{#each brands}}
                {{!-- <a style="text-decoration: none; font-size: 15px; color: black;"
                    href="/shop?brand={{this.brandName}}">
                    <li style="list-style: none; margin-top: 10px;">{{this.brandName}}</li>
                </a> --}}
                <label>
                    <input type="checkbox" name="brand" class="brand-filter" value="{{this.brandName}}">
                    {{this.brandName}}
                </label><br>
                {{/each}}
                <br>
                <span class="text-center"
                    style="font-size: 18px;font-weight: bold; font-family: Arial, Helvetica, sans-serif;">FILTER BY
                    PRICE</span>
                <br><label for="minPrice">Min Price:</label>
                <input type="number" id="minPrice">
                <label for="maxPrice">Max Price:</label>
                <input type="number" id="maxPrice">
                <button
                    style="background-color: black; color: white; margin-top: 20px; padding: 5px; border: 1px solid black; border-radius: 10px;"
                    id="applyFilter">Apply Filter</button>
            </div>
            <div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-9 col-xxl-9 ">
                <div class="container">
                    <div class="row">
                        <div class="container-fluid cont-box bg-trasparent my-4 p-3" style="position: relative">
                            <div class="row row-top row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">


                                {{#each products}}
                                <div class="col hp" data-category="{{this.category}}"
                                    data-brand="{{this.brand}}" data-price="{{this.price}}">
                                    <div class="card shadow-sm">
                                        <a href="/shop/{{this._id}}">
                                            <img src="{{this.image}}" id="shopImage" data-product-id="{{this._id}}"
                                                class="card-img-top" style="background-color: white;" alt="title" />
                                            <div class="card-body bg-light">
                                                <div class="clearfix">
                                                    <span
                                                        class="float-start badge rounded-pill text-dark">{{this.productName}}</span><br>
                                                    <h5 class="float-start badge rounded-pill text-dark">
                                                        ₹{{this.price}}/-</h5>
                                                    <small class="float-end  rounded-pill text-danger"
                                                        style="opacity: .5;"><del>₹{{this.net_price}}/-</del></small><br>
                                                    {{!-- <span class="text-warning">
                                                        <div class="fa fa-star"></div>
                                                        <div class="fa fa-star"></div>
                                                        <div class="fa fa-star"></div>
                                                        <div class="fa fa-star"></div>
                                                        <div class="fa fa-star"></div>
                                                    </span> --}}
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </div>
                                {{/each}}

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/shopItem.js"></script>
</body>

</html>