<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/userDetails.css">
  <link rel="stylesheet" href="/css/style2.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  {{#if passNotMatch}}
  <script>
    alert("current password is wrong...")
  </script>
  {{/if}}
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm p-4 ">
      <div class="container-fluid">
        <a href="#" class="navbar-brand"><img class="img-fluid" src="/img/logo.jpg" width="200px" alt="logo"></a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-5">
            <a href="/" class="nav-item nav-link  ms-5"
              style="font-family: Arial, Helvetica, sans-serif;font-weight: bolder;">Home</a>
            <a href="#" class="nav-item nav-link  ms-5"
              style="font-family: Arial, Helvetica, sans-serif;font-weight: bolder;">Shop</a>
            <a href="#" class="nav-item nav-link  ms-5"
              style="font-family: Arial, Helvetica, sans-serif;font-weight: bolder;">About</a>
            <a href="#" class="nav-item nav-link  ms-5"
              style="font-family: Arial, Helvetica, sans-serif;font-weight: bolder;">Contact</a>
          </div>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto me-3">
              <a id="userIcons" href="/wish"><img src="/img/wishlist.png" alt="wishlist" width="30px"></a>
            </div>
            <div class="navbar-nav me-3">
              <a id="userIcons" href="/cart"><img src="/img/cart.png" alt="cart" width="30px"></a>
            </div>
            <div class="navbar-nav me-3">
              <a href="/user"><img src="/img/person1.png" alt="admin" width="40px"></a>
            </div>
          </div>
        </div>

      </div>
    </nav>
  </div>
  <div class="container mt-5">

    <div class="container-xl px-4 mt-4">

      <hr class="mt-0 mb-4">
      <div class="row">
        <div class="col-xl-4">

          <div class="card mb-4 mb-xl-0">
            <div class="card-body text-center">

              <img class="img-account-profile rounded-circle me-3 mb-2" style="height: 5rem;" src="/img/person.png"
                alt="profile">

              <span class="text-dark  mt-3"
                style="font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">Hello,
              </span><span style="font-weight: light; font-family: Arial, Helvetica, sans-serif; font-size: 16px;"
                class="font-italic text-muted ">{{user.userName}}</span>
              <br>
            </div>
          </div>


          <a href="/user_data">
            <div class="card mb-4 mb-xl-0">
              <div class="card-body text-center">

                <img class="img-account-profile rounded-circle me-3 mb-2 float-start" src="/img/person1.png"
                  alt="person">

                <span class="text-dark float-start mt-3"
                  style="font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 16px;">PERSONAL
                  INFO</span>
                <br>
              </div>
            </div>
          </a>


          <a href="/myOrders">
            <div class="card mb-4 mb-xl-0">
              <div class="card-body text-center">

                <img class="img-account-profile rounded-circle me-3 mb-2 float-start" src="/img/order.png" alt="order">

                <span class="text-dark float-start mt-3"
                  style="font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 16px;">MY
                  ORDERS</span>
                <br>
              </div>
            </div>
          </a>


          <a href="/wish">
            <div class="card mb-4 mb-xl-0">
              <div class="card-body text-center">

                <img class="img-account-profile rounded-circle float-start me-3 mb-2" src="/img/wish.png" alt="wish">

                <span class="text-dark float-start mb-4"
                  style="font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 16px;">MY
                  WISHLIST</span>
                <br>
              </div>
            </div>
          </a>

          <a href="/myAddresses">
            <div class="card mb-4 mb-xl-0">
              <div class="card-body text-center">

                <img class="img-account-profile rounded-circle float-start me-3 mb-2" src="/img/address.png"
                  alt="address">

                <span class="text-dark float-start mt-3"
                  style="font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 16px;">MY
                  ADDRESS</span>
                <br>
              </div>
            </div>
          </a>


          <a href="/logout">
            <div class="card mb-4 mb-xl-0">
              <div class="card-body text-center">

                <img class="img-account-profile rounded-circle float-start me-3 mb-2" src="/img/logout.png"
                  alt="logout">

                <span class="text-dark float-start  mt-3"
                  style="font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 16px;">LOG OUT</span>
                <br>
              </div>
            </div>
          </a>

          <div class="card mb-4 mb-xl-0">
            <div class="card-body text-center">

              <img class="img-account-profile rounded-circle float-start me-3 mb-2" src="/img/delete.png" alt="DELETE">

              <span class="text-dark  mt-3 float-start"
                style="font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 16px;">DELETE
                ACCOUNT</span>
              <br>
            </div>
          </div>

        </div>
        <div class="col-xl-8">

          <div class="card mb-4">
            <div class="card-header">Personal Information</div>
            <div class="card-body">
              <form>

                <div class="mb-3">
                  <label class="small mb-1" for="inputUsername">Username</label>
                  <input class="form-control" id="inputUsername" type="text" readonly value="{{user.userName}}">
                </div>

                <div class="mb-3">
                  <label class="small mb-1" for="inputUsername">Email Address</label>
                  <input class="form-control" id="inputUsername" type="text" readonly value="{{user.email}}">
                </div>

                <div class="mb-3">
                  <label class="small mb-1" for="inputUsername">Phone number</label>
                  <input class="form-control" id="inputUsername" type="text" readonly value="{{user.phone}}">
                </div>
                <div class="w-100">
                  <a style="cursor: pointer;" class="text-dark" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">Edit Details</a>
                  <a style="cursor: pointer;" class="justify-content-end float-end text-dark" data-bs-toggle="modal"
                    data-bs-target="#editPassword">Reset Password</a>
                </div>

              </form>
            </div>
          </div>
          <div class="card mb-4">
            <div
              style="color: black; font-size: 25px; font-family: Arial, Helvetica, sans-serif; font-weight: 400; word-wrap: break-word">
              FAQs</div>
            <div
              style="color: black; font-size: 15px; font-family: Arial, Helvetica, sans-serif; font-weight: 700; word-wrap: break-word">
              What happens when I update my email address (or mobile number)?</div>
            <div
              style="opacity: 0.65; color: black; font-size: 13px; font-family: Arial, Helvetica, sans-serif; font-weight: 400; word-wrap: break-word">
              Your login email id (or mobile number) changes, likewise. You'll receive all your account related
              communication on your updated email address (or mobile number).</div>
            <div
              style="color: black; font-size: 15px; font-family: Arial, Helvetica, sans-serif; font-weight: 700; word-wrap: break-word">
              Does my Seller account get affected when I update my email address?</div>
            <div
              style="opacity: 0.65; color: black; font-size: 13px; font-family: Arial, Helvetica, sans-serif; font-weight: 400; word-wrap: break-word">
              Outstock has a 'single sign-on' policy. Any changes will reflect in your Seller account also.</div>
            <div
              style="color: black; font-size: 15px; font-family: Arial, Helvetica, sans-serif; font-weight: 700; word-wrap: break-word">
              When will my Outstock account be updated with the new email address (or mobile number)?</div>
            <div
              style="opacity: 0.65; color: black; font-size: 13px; font-family: Arial, Helvetica, sans-serif; font-weight: 400; word-wrap: break-word">
              It happens as soon as you confirm the verification code sent to your email (or mobile) and save the
              changes.</div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>


    {{!-- <div class="row">
      <div class="col-12 col-sm-12 col-m-12 col-lg-6 col-xl-6">

      </div>
      <div class="col-12 col-sm-12 col-m-12 col-lg-6 col-xl-6">
        <div style="position: relative;">
          <h2>Personal Informations</h2>
          <span>User Name</span>
          <div class="spaceDiv pt-2"><span class="ms-3">{{user.userName}}</span></div>
          <span>Email Address</span>
          <div class="spaceDiv pt-2"><span class="ms-3">{{user.email}}</span></div>
          <span>Mobile Number</span>
          <div class="spaceDiv pt-2"><span class="ms-3">{{user.phone}}</span></div>
          <div class="w-100">
            <a style="cursor: pointer;" class="text-dark" data-bs-toggle="modal"
              data-bs-target="#staticBackdrop">Edit</a>
            <a style="cursor: pointer;" class="d-flex justify-content-end text-dark" data-bs-toggle="modal"
              data-bs-target="#editPassword">Reset Password</a>
          </div>

        </div>
        <a id="logoutBtn" href="/logout"><button class="btn btn-dark text-light mt-3">Logout</button></a>
        <a id="logoutBtn" href="/myOrders"><button class="btn btn-dark text-light mt-3">MY Orders</button></a>
      </div>

    </div> --}}
  </div>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Update Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="updateUserForm">

            <div class="mt-3">
              <input hidden type="text" name="_id" value="{{user._id}}">
              <label for="userName">User Name</label>
              <input type="text" class="form-control" id="userName" name="userName" value="{{user.userName}}"
                style="width: 100%; height: 5vh; background-color: rgb(235, 235, 235); color: black; font-family: Arial, Helvetica, sans-serif; font-weight: bolder; font-size: 15px;">
            </div>
            <div>
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" value="{{user.email}}"
                style="width: 100%; height: 5vh; background-color: rgb(235, 235, 235); color: black; font-family: Arial, Helvetica, sans-serif; font-weight: bolder; font-size: 15px;">
            </div>
            <div>
              <label for="phone">Phone NUmber</label>
              <input type="text" class="form-control" id="phone" name="phone" value="{{user.phone}}"
                style="width: 100%; height: 5vh; background-color: rgb(235, 235, 235); color: black; font-family: Arial, Helvetica, sans-serif; font-weight: bolder; font-size: 15px;">
            </div>
            <button type="button" onclick="submitUserForm()" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
              data-bs-dismiss="modal" class="btn btn-dark text-light mt-3">Update</button>
          </form>
        </div>
      </div>

    </div>
  </div>
  </div>

  <div class="modal fade" id="editPassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Update Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="passChangeForm">

            <div class="mt-3">
              <input hidden type="text" name="_id" value="{{user._id}}">
              <label for="oldPass">Enter current password</label>
              <input type="text" class="form-control" id="oldPass" name="oldPass"
                style="width: 100%; height: 5vh; background-color: rgb(235, 235, 235); color: black; font-family: Arial, Helvetica, sans-serif; font-weight: bolder; font-size: 15px;">
            </div>
            <div>
              <label for="newPass">Enter new password</label>
              <input type="text" class="form-control" id="newPass" name="newPass"
                style="width: 100%; height: 5vh; background-color: rgb(235, 235, 235); color: black; font-family: Arial, Helvetica, sans-serif; font-weight: bolder; font-size: 15px;">
            </div>
            <div>
              <label for="rePass">Re enter new password</label>
              <input type="text" class="form-control" id="rePass" name="rePass"
                style="width: 100%; height: 5vh; background-color: rgb(235, 235, 235); color: black; font-family: Arial, Helvetica, sans-serif; font-weight: bolder; font-size: 15px;">
            </div>
            <button type="button" onclick="submitPassForm()" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
              data-bs-dismiss="modal" class="btn btn-dark text-light mt-3">Update Password</button>
          </form>
        </div>
      </div>

    </div>
  </div>
  </div>

  <script src="/js/index_user.js"></script>
</body>

</html>